/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background:url(../img/background.png);
    font-size:16px;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size:4em;
    color:white;
    margin:auto;
    text-align: center;
    margin-top:10%;
    display:block;
    text-shadow:3px 3px black;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size:2em;
    color:white;
    margin:auto;
    text-align: center;
    margin-top:1em;
    display:block;
    text-shadow:3px 3px black;
}
img {
    text-align: center;
    margin:auto;
    margin-top:1em;
    display:block;
    transform: scale(0.9);
    cursor:pointer;

}
.social {
    text-align: center;
    margin-top:1em;
}
.size16x16 {
  font-size: 16px;
}

/* facebook icon */
.icon-facebook {
  display: inline-block;
  color: #FFFFFF;
  background-color: #3b5998;
  border-radius: 0.3125em;
  height: 2.5em;
  width: 2.5em;
  position: relative;
  overflow: hidden;
}
.icon-facebook .f-tail, .icon-facebook .f-crossbar, .icon-facebook .f-top {
  position: absolute;
  background-color: #FFFFFF;
}
.icon-facebook .f-tail {
  width: 0.5em;
  height: 2.1875em;
  border-top-left-radius: 0.3125em;
  left: 1.375em;
  bottom: 0;
}
.icon-facebook .f-crossbar {
  width: 1.25em;
  height: 0.375em;
  left: 1em;
  top: 1.0625em;
}
.icon-facebook .f-top {
  width: 0.625em;
  height: 0.625em;
  left: 1.625em;
  border-top-left-radius: 0.0625em;
  top: 0.3125em;
}
.icon-facebook .f-top:after {
  content: "";
  position: absolute;
  background-color: #3b5998;
  width: 0.625em;
  height: 0.375em;
  border-top-left-radius: 0.125em;
  top: 0.375em;
  left: 0.25em;
}
/* twitter icon */

.icon-twitter {
  display: inline-block;
  overflow: hidden;
  color: #FFFFFF;
  background-color: #4099FF;
  border-radius: 0.3125em;
  height: 2.5em;
  width: 2.5em;
  position: relative;
}
.icon-twitter .t-head {
  position: absolute;
  background-color: #FFFFFF;
  width: 0.875em;
  height: 0.875em;
  border-radius: 0.5625em;
  left: 1.25em;
  top: 0.475em;
}
.icon-twitter .t-body {
  position: absolute;
  background-color: #FFFFFF;
  width: 2em;
  height: 2em;
  border-radius: 1.125em;
  top: 0.0625em;
  left: 0.125em;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.icon-twitter .t-body:after {
  content: "";
  position: absolute;
  background-color: #4099FF;
  width: 2.875em;
  height: 2.5em;
  border-radius: 1.4375em / 1.25em;
  left: -0.6875em;
  top: -1.0625em;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);
}
.icon-twitter .t-wing1 {
  position: absolute;
  background-color: #FFFFFF;
  width: 1.1875em;
  height: 1.1875em;
  border-radius: 0.625em;
  top: 0.7875em;
  left: 0.6875em;
}
.icon-twitter .t-wing1:after {
  content: "";
  position: absolute;
  background-color: #4099FF;
  width: 1.25em;
  height: 0.9375em;
  border-radius: 0.625em / 0.46875em;
  top: -0.1875em;
  left: -0.5625em;
}
.icon-twitter .t-wing2 {
  position: absolute;
  background-color: #FFFFFF;
  width: 0.9375em;
  height: 0.9375em;
  border-radius: 0.4375em;
  top: 0.6625em;
  left: 0.6875em;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  transform: rotate(-9deg);
}
.icon-twitter .t-wing2:after {
  content: "";
  position: absolute;
  background-color: #4099FF;
  width: 1.625em;
  height: 0.875em;
  border-radius: 0.8125em / 0.4375em;
  top: -0.25em;
  left: -0.1875em;
}
.icon-twitter .t-wing3 {
  position: absolute;
  background-color: #FFFFFF;
  width: 1.5em;
  height: 0.9375em;
  border-radius: 0.75em / 0.46875em;
  top: 0.4125em;
  left: 0.5625em;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.icon-twitter .t-wing3:after {
  content: "";
  position: absolute;
  background-color: #4099FF;
  width: 1.4375em;
  height: 0.875em;
  border-radius: 0.71875em / 0.4375em;
  top: -0.1875em;
  left: -0.125em;
}
.icon-twitter .beak-top {
  position: absolute;
  background-color: #FFFFFF;
  width: 0.625em;
  height: 0.625em;
  border-radius: 0.3125em;
  top: 0.1625em;
  left: 1.5em;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.icon-twitter .beak-top:after {
  content: "";
  position: absolute;
  background-color: #4099FF;
  width: 1.0625em;
  height: 0.625em;
  border-radius: 0.53125em / 0.3125em;
  top: -0.1875em;
  left: -0.125em;
}
.icon-twitter .beak-bottom {
  position: absolute;
  background-color: #FFFFFF;
  width: 0.625em;
  height: 0.625em;
  border-radius: 0.3125em;
  top: 0.2875em;
  left: 1.5625em;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.icon-twitter .beak-bottom:after {
  content: "";
  position: absolute;
  background-color: #4099FF;
  width: 1.0625em;
  height: 0.625em;
  border-radius: 0.53125em / 0.3125em;
  top: -0.1875em;
  left: -0.125em;
}


img:hover {
    transform: scale(1);
     animation-name: pulse;
    -webkit-animation-name: pulse;  

    animation-duration: 0.8s;   
    -webkit-animation-duration: 0.8s;

    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;   
}
iframe {
    position:absolute;
    top:50%;
    margin-top: -271px;
    left:50%;
    margin-left: -480px;
}




@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;       
    }
    50% {
        transform: scale(0.95);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1;  
    }           
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;       
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(1);
        opacity: 1;   
    }           
}

/*
==============================================
floating
==============================================
*/

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(8%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
